/*========
 基本默认值
=========*/
body
  background-color #f7f7f7
::selection
  background #b3d4fc
  text-shadow none
h1,h2,h3,h4,h5,h6,p,ul
  margin 0
  padding 0
li
  list-style none
a
  text-decoration none
/*========
 工具样式
=========*/
.clearfix:before,
.clearfix:after
  content " "
  display table
  clear both
